{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <h3>Sign up</h3>#}
{#    <form action="{% url 'accounts:register' %}" method="post"  style="width: 50%; justify-items: center; margin: auto">#}
{#        {% include 'partial/form.html' with button_text="Save" %}#}
{#    </form>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% block content %}
        <h1 class="text-center">Регистрация</h1>
        <div class="container" style="width: 500px">
        <form action="{% url 'accounts:register' %}" method="post" enctype="multipart/form-data">
            {% include "partial/form.html" %}
            <p class="text-center"><input type="submit" value="Зарегистрировать" class="btn btn-success"></p>
        </form>
        </div>
{% endblock %}