{% extends 'base.html' %}
{% block title %}{{ user_object.username }}{% endblock %}
{% block menu %}
    {% if user_object == request.user %}
        <li><a href="#">Change Password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Edit Profile: {{ user_object.username }}</h2>
    <form action="{% url 'accounts:user_update' user_object.pk %}" method="post" enctype="multipart/form-data">
        {% include 'partial/form.html' with button_text="Update" %}
    </form>
{% endblock %}