{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table"  style="line-height: 15px">
            <h3>Категории</h3>
            {#            {% if perms.webapp.add_category %}#}
            <div class="row">
                <a href="{% url 'webapp:category_add' %}" class="btn btn-success  ml-5 my-3 hiddenbutton">Добавить
                    категорию</a>
                <a href="{% url 'webapp:subcategory_add' %}" class="btn btn-success  ml-5 my-3 hiddenbutton">Добавить
                    подраздел</a>
            </div>
            {#            {% endif %}#}
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th class="symbol hiddenbutton" scope="col">Редактировать</th>
                <th class="symbol hiddenbutton" scope="col">Удалить</th>
            </tr>
            </thead>
            {% for category in categories %}
                <tbody>
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ category.category_name }}</td>
{#                    {% if perms.webapp.change_category %}#}
                        <td class="symbol"><a class='update hiddenbutton'
                                              href="{% url 'webapp:category_change' category.pk %}">&#x270E;</a></td>
{#                    {% endif %}#}
{#                    {% if perms.webapp.delete_category %}#}
                        <td class="symbol"><a class='delete hiddenbutton'
                                              href="{% url 'webapp:category_delete' category.pk %}" style="color: red">&times;</a>
                        </td>
{#                    {% endif %}#}
                </tr>
                {% for subcategory in category.subcategories.all %}
                    <tr>
                        <th scope="row"></th>
                        <td style="padding-left: 50px; font-size: 12px">{{ subcategory.sub_name }}</td>
{#                        {% if perms.webapp.change_subcategory %}#}
                            <td class="symbol"><a class='update hiddenbutton'
                                                  href="{% url 'webapp:subcategory_change' subcategory.pk %}">&#x270E;</a>
                            </td>
{#                        {% endif %}#}
{#                        {% if perms.webapp.delete_subcategory %}#}
                            <td class="symbol"><a class='delete hiddenbutton'
                                                  href="{% url 'webapp:subcategory_delete' subcategory.pk %}"
                                                  style="color: red">&times;</a>
                            </td>
{#                        {% endif %}#}
                    </tr>
                {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}