{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Товары{% endblock %}
{% block menu %}
    {% if perms.webapp.product_add %}
        <li class="nav-item"><a href="{% url 'webapp:product_create' %}" class="nav-link">Добавить товар</a></li>
        <li class="nav-item"><a href="{% url 'webapp:orders' %}" class="nav-link">Заказы</a></li>

    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="text-center">Товары</h1>
    <div class="row">
        {% for product in products %}
            <div class="col col-3">
                <div class="card">
                    {% if product.photo %}
                        <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'default_image.png' %}" class="card-img-top" alt="No photo">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.category }} | {{ product.price }} сом</p>
                        <a href="{% url "webapp:product_detail" product.pk %}"
                           class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}